<div class="container">
  <div class="form">
    <h1>
      Ajude-nos a salvar as nossas florestas! Faça seu cadastro e doe qualquer
      valor.
    </h1>

    <h3>Digite seus dados</h3>
    <form>
      <p>Nome</p>
      <input type="text" placeholder="Digite seu nome" />

      <p>Sobrenome</p>
      <input type="text" placeholder="Digite seu sobrenome" />

      <p>E-mail</p>
      <input type="text" placeholder="Digite seu E-mail " />

      <p>Telefone</p>
      <input type="t" placeholder="Digite seu telefone" />

      <p>CPF</p>
      <input type="text" placeholder="Digite seu CPF" />

      <p>Data de nascimento</p>
      <input type="date" />

      <p>Crie uma senha</p>
      <input type="password" placeholder="Digite uma senha" />

      <div class="terms">
        <input type="checkbox" />
        <span>Li e aceito os termos</span>
      </div>
    </form>
    <button>Cadastrar</button>
  </div>
</div>
